* {
  margin: 0;
  padding: 0;
}

body {
  background-color: pink;
}

.container {
  background-color: linear-gradient(to right bottom, #529252, #192831);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: rgb(247 189 189);

  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 50px #000;
  margin-bottom: 10px;
}

.header h1 {
  color: white;
  text-align: center;
  margin: 30px 0;
}

.task-input {
  text-indent: 10px;
  outline: none;
  width: 260px;
  height: 35px;
  margin-right: 25px;
  font-size: 20px;
  color: black;
  opacity: 80%;
  background-color: gray;

  border: 1px solid red;
  border-radius: 9px;
}

.button-add {
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #529252;
  cursor: pointer;
}

.list-item {
  display: flex;
  margin: 20px 0;
  border: 1px solid#ccc;
  color: #fff;
  padding: 10px;
  max-height: 30px;
  justify-content: space-around;
}

.button-delete {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  margin: 5px;
}

.button-success {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  margin: 5px;
}

.success {
  text-decoration: solid;
  text-decoration-line: line-through;
  opacity: 1;
}

.made {
  width: 60px;
  font-size: 15px;
  height: 40px;
  border: none;
  border-radius: 5px;
  outline: none;
}
